h2 {
    margin: 0;
}
.list{
    list-style-type: none;
    text-align: left;
}
.list_item{
    font-size: 22px;
    margin: 10px 0 0 0;
}

.container{
    margin: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    color: black;
    text-align: left;
}

.description{
    color: black;
    text-align: left;
}
.thin {
    font-weight: 300;
}
.button{
    border: none;
    background-color: blueviolet;
    color: #fff;
    padding: 5px;
    border-radius: 10px;
    font-size: 18px;
}
.button:hover {
    cursor: pointer;
    background-color: rgba(134, 42, 220, .8);
}

.locked{
    border: none;
    background-color: #fff;
    color: coral;
}

.lesson{
    text-align: left;
    margin: 0 0 30px 0;
}

.videoStyles {
    -webkit-box-shadow: 0px 0px 31px -1px rgba(150,150,150,.5);
    -moz-box-shadow: 0px 0px 31px -1px rgba(150,150,150,.5);
    box-shadow: 0px 0px 31px -1px rgba(150,150,150,.5);
    border-radius: 25px;
}